name: Production - Build and Push Docker Image

on:
  pull_request:
    types: [closed]
    branches:
      - main
    paths:
      - script.py
      - docker-compose.yml
      - Docker/Dockerfile
      - requirements.txt
      - .env
      - .github/workflows/docker-push-main.yml

env:
  IMAGE_NAME: itsmrrobot/starlink-telemetry
  DOCKERFILE_PATH: Docker/Dockerfile

jobs:
  docker:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        if: github.event.pull_request.merged == true && github.event.pull_request.base.ref == 'main'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ${{ env.DOCKERFILE_PATH }}
          push: ${{ github.event.pull_request.merged == true && github.event.pull_request.base.ref == 'main' }}
          tags: ${{ env.IMAGE_NAME }}:latest
