name: Development - Build and Push Docker Image

on:
  push:
    branches:
      - dev
    paths:
      - script.py
      - docker-compose.yml
      - Docker/Dockerfile
      - requirements.txt
      - .env
      - .github/workflows/docker-push-dev.yml

env:
  IMAGE_NAME: itsmrrobot/starlink-telemetry
  DOCKERFILE_PATH: Docker/Dockerfile

jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        if: github.event_name == 'push' && github.ref == 'refs/heads/dev'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ${{ env.DOCKERFILE_PATH }}
          push: ${{ github.event_name == 'push' && github.ref == 'refs/heads/dev' }}
          tags: ${{ env.IMAGE_NAME }}:dev
